.tile {
    height: 200px;
    display: flex;
    border-radius: 10px;
}

.image {
    height: 200px;
    width: 200px;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
}

.info {
    margin: 5px 0 5px 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
